:root{
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --grey-color:#888;
}
*{
    box-sizing: border-box;
}

body{
    font-family: 'open sans',sans-serif;
    margin: 0;
}
:focus{
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
   background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue-color)
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue-alt-color)
}
.page{
    min-height: 100vh;
    background-color: #f1f5f9;
}
/*start sidebar*/
.sidebar{
width: 250px;
box-shadow: 0 0 10px #ddd;
}
.sidebar >h3{
    margin-bottom: 50px;
}
.sidebar >h3::before{
content: "";
background-color: black;
width: 80px;
height: 2px;
position: absolute;
bottom: -20px;
left: 50%;
transform: translateX(-50%);
}
.sidebar >h3::after{
    content: '';
    background-color: black;
    position: absolute;
    left: 50%;
    bottom: -29px;
    width: 12px;
    height: 12px;
    border-radius:50%;
    border:4px solid white ;
    transform: translateX(-50%);
}
/* .sidebar ul{

}
.sidebar ul li{

} */
.sidebar ul li a{
transition: all 0.5s;
margin-bottom: 5px;
}
.sidebar ul li a:hover ,.sidebar ul li a.active{
    background-color: #f6f6f6;
}
.sidebar ul li a span{
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width: 767px){
    .sidebar{
        width: 62px;
        padding: 10px;
    }
    .sidebar > h3{
        font-size: 13px;
        margin-bottom: 15px;
    }
    .sidebar > h3::before,.sidebar >h3::after{
        display: none;
    }
}
/*end sidebar*/
/*start contetnt*/
.content{
overflow: hidden;
}
.head .search::before{
    font-family:"Font Awesome 6 Free";
    content: "\f002";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight:bold;
    color: var(--blue-color);
}
.head .search input{
border: 1px solid #ccc;
border-radius: 10px;
margin-left: 5px;
padding-left:30px;
width: 160px;
transition: all 0.3s;
}
.head .search input:focus{
width: 200px;
}
.head .search input:focus::placeholder{
    opacity: 0;
}
/* .head .icons i{
    font-size: 20px;
} */
.head .icons .notification::before{
    content: "";
    position: absolute;
    width: 8px; 
    height: 8px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -2px;
    top: -9px;
}
.head .icons img{
    width: 32px;
    height: 32px;
    margin-left: 15px;
}
.content h1{
    margin: 20px 20px 40px;
}
.content h1::before,
.content h1::after{
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;
}
.content h1::before{
    background-color: white;
    width: 120px;
}

.content h1::after{
    background-color: black;
    width: 40px;
}
.wrapper{
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .wrapper{
        grid-template-columns:minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
/*end content*/
/* start wlcome*/
.welcome{
    overflow: hidden;
}
.welcome .intro img{
    width: 170px;
    margin-bottom: -10px;
}
.welcome .avatar{
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}
.welcome .body{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body >div{
flex: 1;
}
.welcome .visit{
margin: 0px 15px 15px auto;
transition: 0.5s;
}
.welcome .visit:hover{
background-color: var(--blue-alt-color);
    }
    @media (max-width:767px){
        .welcome .intro {
         padding-bottom:30px;
        }
        .welcome .avatar{
            margin-left: 0px;
        }
        .welcome .body >div:not(:last-child){
            margin-bottom: 20px;
        }
    }
/*end welcome*/
/*start quick*/
.quick textarea{
resize: none;
min-height: 180px;
}
.quick .save{
    margin-left: auto;
    transition: 0.5s;
    cursor: pointer;
}
.quick .save:hover{
    background-color: var(--blue-alt-color);
}
/*end quick*/
/*start targets*/
.target .icon{
width: 80px;
height: 80px;
margin-right: 15px;
}
.target .details{
flex:1
}
.target .progress{
height: 4px;
}
.target .progress >span{
position: absolute;
left: 0;
top: 0;
height: 100%;
}
.target .progress >span span{
position: absolute;
bottom: 16px;
right: -16px;
color: #fff;
padding: 2px 5px;
border-radius: 6px;
font-size: 13px;
}
.target .progress >span span::after{
content: "";
border-color: transparent;
border-width: 5px;
border-style: solid;
position: absolute;
bottom: -10px;
transform: translateX(-50%);
left: 50%;
}
.target .progress >.blue span::after{
    border-top-color:var(--blue-color);
}
.blue .icon,.blue .progress{
    background-color: rgb(0 117 255 / 20%);}

    .target .progress >.orange span::after{
        border-top-color: var(--orange-color);;
    }
    .orange .icon,.orange .progress{
        background-color: rgb(245 158 11 / 20%);;}
        .target .progress >.green span::after{
            border-top-color: var(--green-color);
        }
        .green .icon,.green .progress{
            background-color: rgb(34 197 94 / 20%);;}
/*end targets*/

/*start tickets*/
.tickets .box{
border: 1px solid #ccc;
width: calc(50%-10px);
justify-content: center;
}
@media (max-width: 768px){
    .tickets .box{
width: 100% ;
    }
}
/*end tickets*/
/*start news*/
.news .news-row:not(:last-of-type){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.news .news-row img{
width: 100px;
border-radius: 6px;
margin-right: 15px;
}
.news .info{
    flex-grow: 1;
}
.news .info h3{
   margin: 0 0 6px;
   font-size: 16px; 
}
@media (max-width: 768px){
    .news .news-row{
        display: block;
    }
    .news .label{
        margin: 10px auto ;
        width: fit-content;
    }
}
/*end news*/
/*start tasks*/
.tasks .task-row:not(:last-of-type){
margin-bottom: 15px;
padding-bottom: 15px;
border-bottom: 1px solid #eee;
}
.tasks .info{
    flex-grow: 1;
}
.tasks .done h3,.tasks .done p{
 text-decoration: line-through;
}

.tasks .done{
    opacity: 0.3;
   }
   .tasks .delete{
    transition: 0.5s;
    cursor: pointer;
   }

   .tasks .delete:hover{
    color: var(--red-color);
   }

/*end tasks*/
/*start uploads*/
.uploads ul li:not(:last-of-type){
    border-bottom: 1px solid #eee;
}
.uploads img{
    width: 40px;
    height: 40px;
}
/*end uploads*/
/*start last project*/
/* .last-project ul li:not(:last-of-type){
    border-bottom: 1px solid #eee;
} */
.last-project ul::before{
    content: '';
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}
.last-project ul li::before{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #fff;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}
.last-project ul li.done::before{
    content: '';
    background-color: var(--blue-color);
    z-index: 1;
}
.last-project ul li.current::before{
    animation: changeColor 1s infinite alternate;
}
.last-project .launch{
   position: absolute;
   width: 160px;
   right: 0;
   bottom: 0;
   opacity: 0.1;
}
@keyframes changeColor{
    from{
        background-color: var(--blue-color);
    }
    top{
        background-color: white;
    }
}
/*end last project*/

/*end reminder*/
.reminder ul li .key{
width: 15px;
height: 15px;
}
.reminder ul li> .blue{
    border-left:2px solid var(--blue-color) ;
}
.reminder ul li> .green{
    border-left:2px solid var(--green-color) ;
}
.reminder ul li> .orange{
    border-left:2px solid var(--orange-color) ;
}
.reminder ul li> .red{
    border-left:2px solid var(--red-color) ;
}
/*end reminder*/
/*start lastpost*/
.lastpost .avatar{
    width: 48;
    height: 48px;
    
}
.lastpost .postcontent{
    text-transform: capitalize;
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
    word-wrap: break-word;
}
/*end lastpost*/
/*start social media*/
.social-media .box{
    padding-left: 70px;
    
}
.social-media .box i{
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: 0.5s;;
}
.social-media .box i:hover{
    transform: rotate(5deg);
}
.social-media .twitter{
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-media .twitter i,.social-media .twitter a{
background-color: #1da1f2;
}

.social-media .facebook{
    background-color: rgb(0 120 215 / 20%);
    color: #0078d7;
}
.social-media .facebook i,.social-media .facebook a{
background-color: #0078d7;
}

.social-media .youtube{
    background-color: rgb(255 0 0 / 20%);;
    color: #ff0000;
}
.social-media .youtube i,.social-media .youtube a{
background-color: #ff0000;
}

.social-media .linkedin{
    background-color: rgb(0 119 181 / 20%);;
    color: #0077b5;
}
.social-media .linkedin i,.social-media .linkedin a{
background-color: #0077b5;
}
/*end social media*/
/*start projects*/
.projects .responsivetable{
    overflow-x: auto;
}
.projects table{
    min-width: 1000px;
    border-spacing: 0;
 
}
.projects thead td{
    font-weight: bold;
    background-color: #eee;
}
.projects table td {
    padding: 15px;
}
.projects thead td{
    transition: 0.5s ;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}
.projects table img{
    width: 32px;
    height: 32px;
    padding: 2px;
    background-color: white;
    border-radius: 50%;

}
.projects table tbody tr td:last-child{
    border-right: 1px solid #eee;
}

.projects table tbody tr:hover td{
background-color: #faf7f7;
}
.projects table img:not(:first-child){
    margin-left: -20px;
}
.projects .pending{
  font-size: 13px;   
}
/*end projects*/

/*start settings*/
.toggle{
    appearance: none;
    display: none;
    -webkit-appearance: none;
}
.toggle-switch{
background-color:#ccc ;
width: 78px;
height: 32px;
border-radius: 16px;
position: relative;
transition: 0.5s;
cursor: pointer;
}
.toggle-switch::before{
    font-family: 'Font Awesome 6 Free';
    content: '\f00d';
    font-weight: 900;
    width: 24px;
    height: 24px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
}
.toggle:checked + .toggle-switch{
background-color: var(--blue-alt-color);
}
.toggle:checked + .toggle-switch::before{
    font-family: 'Font Awesome 6 Free';
    content: '\f00c';
    font-weight: 900;
    left: 50px;
    color: var(--blue-color);
}
.settings-page{
grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
}
.settings-page .close-message {
resize: none;
border: 1px solid #ccc;
min-height: 150px;
}
.settings-page input[type="email"] {
display: inline-flex;
width: calc(100% - 80px);
}
@media (max-width: 768px) {
    .settings-page{
        grid-template-columns: minmax(100px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.settings-page .social i{
width: 40px;
height: 40px;
background-color: #f6f6f6;
border: 1px solid #ddd;
border-right: none;
border-radius: 6px 0 0 6px;
transition: 0.3s;
}
.settings-page .social input{
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius: 0 6px 6px 0  ;
}
.settings-page .social >div:focus-within i{
    color: black;
}
.settings-page .sec-box{
padding-bottom: 15px;
}
.settings-page .sec-box:not(:last-of-type){
border-bottom:1px solid #eee ;
}
.settings-page :disabled{
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #eee;
}
.settings-page .customcontrol .control label{
padding-left: 30px;
cursor: pointer;
position: relative;
}
.settings-page .customcontrol .control label::before{
content: '';
position: absolute;
left: 0;
top: 50%;
width: 14px;
height: 14px;
border: 2px solid black;
margin-top: -9px;
}
.settings-page .customcontrol .control label::before:hover{
    border-color: var(--blue-alt-color);
}
.settings-page .customcontrol .control label::after{
    font-family: 'Font Awesome 6 Free';
    content: '\f00c';
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
}
.settings-page .customcontrol .control input[type="checkbox"]:checked + label::after{
    transform: scale(1);
}
.settings-page .customcontrol .control input[type="checkbox"]{
    appearance: none;
    display: none;
    -webkit-appearance: none;
}
.settings-page .backup input[type="radio"]{
    appearance: none;
    display: none;
    -webkit-appearance: none;
}
.settings-page .backup .date label{
 padding-left: 30px;
 cursor: pointer;
 position: relative;
}
.settings-page .backup .date label::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
}
.settings-page .backup .date label::after{
    content: '';
    position: absolute;
    left: 5px;
    transform: scale(0);
    top: 7px;
    transition: 0.3s;
    width: 12px;
    height: 12px;
    background-color: var(--blue-color);
    border-radius: 50%;
}
.settings-page .backup .date input[type="radio"]:checked + label::before{
border-color: var(--blue-color);
}
.settings-page .backup .date input[type="radio"]:checked + label::after{
    transform: scale(1);
}
.settings-page .backup .servers {
border-top:1px solid #eee ;
padding-top: 20px;
}
.settings-page .backup .server {
border: 2px solid #eee;
position: relative;
}
.settings-page .backup .server label {
cursor: pointer;

}
.settings-page .backup .servers input[type="radio"]:checked + .server{
border-color: var(--blue-color);
color: var(--blue-color);
}
@media (max-width: 768px) {
    .settings-page .backup .servers{
flex-wrap: wrap;
    }
}
/*end settings*/

/*start profile*/
.profile-page .avatar-box{
    width: 300px;
}
@media (min-width: 768px) {
    .profile-page .avatar-box{
        border-right: 1px solid #eee;
    }
}
@media (max-width: 768px) {
    .profile-page .overview{
       flex-direction: column;
    }
}
.profile-page .avatar-box > img{
    width: 120px;
    height: 120px;
}
.profile-page .avatar-box .level{
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}
.profile-page .avatar-box .level span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}
.profile-page .info-box{
    width: 100%;
}
.profile-page .info-box .box{
flex-wrap: wrap;
border-bottom: 1px solid #eee;
transition: 0.3s;
}
.profile-page .info-box .box:hover{
    background-color: #f9f9f9;
}
.profile-page .info-box .box >div{
    min-width: 200px;
    padding: 10px 0 0 ;
}
.profile-page .info-box h4{
    font-weight: normal;
}
/*toggle custom profile*/
.profile-page  .info-box .toggle-switch{
    height: 20px;
}
.profile-page  .info-box .toggle-switch::before{
    height: 12px;
    width: 12px;
    font-size: 8px;
}
.profile-page .info-box .toggle:checked+.toggle-switch::before{
    left: 62px;
}
@media (max-width: 767px) {
    .profile-page  .info-box .toggle-switch{
      margin: auto;
    }
    .profile-page .other-data{
    flex-direction: column;
    }
}

.profile-page .skills-card{
flex-grow: 1;
}
.profile-page .skills-card ul li{
padding: 15px 0;
    }
.profile-page .skills-card ul li:not(:last-child){
        border-bottom: 1px solid #eee;
        }
.profile-page .skills-card ul li span{
            display: inline-flex;
            padding:4px 10px;
            background-color: #eee;
            border-radius: 6px;
            font-size: 14px;
            }
.profile-page .skills-card ul li span:not(:last-child) {
                margin-right: 10px;
            }
.profile-page .activitis-card{
    flex-grow: 2;
}
.profile-page .activitis-card .act:not(:last-of-type){
    border-bottom:1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.profile-page .activitis-card .act img{
    width: 64px;
    height: 64;
    border-radius: 50%;
    object-fit: cover;
}
@media (min-width: 768px) {
    .profile-page .activitis-card .act .date{
    margin-left: auto;
    text-align: right;
    }
}
@media (max-width: 768px) {
    .profile-page .activitis-card .act{
flex-direction: column;

    }
    .profile-page .activitis-card .act .date{
        margin-top: 15px;
        }
    
        .profile-page .activitis-card .act img{
            margin-right: 0px;
            margin-bottom: 15px;
            }
            
    
}
/*end profile*/

/*start projects*/
.projects-page {
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));

}
@media (max-width: 768px) {
    .projects-page {
        grid-template-columns: minmax(500px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        
    }
}
.projects-page .project .date{
position: absolute;
right: 10px;
top: 10px;
}
.projects-page .project h4{
    font-weight: normal;
}
.projects-page  .project .team{
    position: relative;
    min-height: 80px;
}
.projects-page  .project .team a{
    position: absolute;
    transition:all 0.3s ease;
    left: 0;
    bottom: 0;

}
.projects-page  .project .team a:nth-child(2){
left: 25px;
}
.projects-page  .project .team a:nth-child(3){
    left: 50px;
}
.projects-page  .project .team a:nth-child(4){
    left: 75px;
}
.projects-page  .project .team a:hover{
    z-index: 999;
    top: 10px;

}
.projects-page  .project .team a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;

}
.projects-page  .project .tech{
justify-content: flex-end;
border-top: 1px solid #eee;
padding-top: 15px;
margin-top: 15px;
}
.projects-page  .project .tech span{
    padding: 3px 8px;
    margin-right: 5px;
    width: fit-content;
}
@media (max-width: 768px) {
    .projects-page  .project .tech{
        flex-direction: column;
    }
    .projects-page  .project .tech span:not(:last-of-type){
        margin-top: 15px;
    }
    .projects-page  .project .info{
        flex-direction: column;
    }
    .projects-page  .project .prog {
        margin-bottom: 15px;
    }
}
.projects-page  .project .info{
    margin-top: 15px;
    padding-top: 15px;
}
.projects-page  .project .prog{
    height: 8px;
    width: 280px;
    position: relative;
    border-radius: 6px;
}
.projects-page  .project .prog span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;
    background-color: var(--red-color);
}
/*end projects*/

/*start courses*/
.courses-page{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

}
@media (max-width: 768px) {
    .courses-page {
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        
    }
}
.courses-page .course{
    overflow: hidden;
}
.courses-page .cover{
   max-width: 100%;
}
.courses-page .instructor{
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    border:2px solid white ;

}
.courses-page  .info{
border-top: 1px solid #eee;
font-size: 13px;
}
.courses-page  .info .title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 27px;
    font-size: 13px;
    top: -13px;
}
.courses-page  .desc{
    line-height: 1.6;
}
/*end courses*/

/*start friends*/
.friends-page{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

}
@media (max-width: 768px) {
    .friends-page {
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        
    }
}
.friends-page .contact{
position: absolute;
left: 10px;
top: 10px;
}
.friends-page .contact i{
background-color: #eee;
padding: 10px;
border-radius:50%;
color: var(--grey-color);
cursor: pointer;
transition: 0.3s;
}
.friends-page .contact i:hover{
    background-color: var(--blue-color);
    color: #fff;
}
.friends-page .friend .icons {
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
margin-top: 10px;
margin-bottom: 15px;
padding-top: 15px;
padding-bottom: 15px;
}
.friends-page .friend .icons i {
    margin-right: 10px;
}
.friends-page .friend .vip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.2;
}
/*end friends*/

/*start files*/
.files-page .files-stats{
min-width: 260px;
}
.files-page .files-stats .icon{
width: 40px;
height: 40px;
margin-right: 10px;
}
.files-page .files-stats .size{
margin-left: auto;
}
.files-page .files-stats .blue{
    background-color: rgb(0 117 255 / 20%)
}
.files-page .files-stats .green{
background-color:rgb(34 197 94 / 20%);;
}
.files-page .files-stats .red{
    background-color: rgb(255 0 0 / 20%)
}
.files-page .files-stats .upload{
margin: 15px auto 0;
padding: 10px 15px;
transition: 0.3s;
}
.files-page .files-stats .upload:hover{
background-color: var(--blue-alt-color);
}
.files-page .files-stats .upload:hover i{
animation: goup 0.5s infinite;
}
@keyframes goup{
    0%{
transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0); 
    }
}
.files-page {
    flex-direction: row-reverse;
    align-items: flex-start;
}
@media (max-width: 768px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
    }
}
.files-page .files-content{
flex: 1;
grid-template-columns: repeat(auto-fill,minmax(200px,1fr));

}
.files-page .files-content img{
    width: 64px;
    height: 64px;
    transition: 0.3s;
}
.files-page .files-content .file img{
    transform: rotate(5deg);
}
.files-page .files-content .info{
    border-top: 1px solid #eee;
    padding-top: 10px;
}
/*end files*/

/*start plans-page*/
.plans-page{
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));

}
@media (max-width: 768px) {
    .plans-page {
        grid-template-columns: minmax(250px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        
    }
}
.plans-page .plane .top{
border: 3px solid #fff;
outline: 3px solid transparent;
}
.plans-page .plane.green .top{
    outline-color: var(--green-color);
}
.plans-page .plane.blue .top{
    outline-color: var(--blue-color);
}
.plans-page .plane.orange .top{
    outline-color: var(--orange-color);
}
.plans-page .plane .price{
position: relative;
font-size: 40px;
width: fit-content;
margin: auto;
}
.plans-page .plane .price span{
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 25px;
}
.plans-page .plane ul li {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}
.plans-page .plane ul li .yes {
    color: var(--green-color);
}
.plans-page .plane ul li i:not(.yes,.help) {
    color: var(--red-color);
}
.plans-page .plane ul li .help{
    color: var(--grey-color);
    cursor: pointer;
    margin-left: auto;
}
/*end plans-page*/